<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dictionary </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Slip Knot</ion-card-title>
            <ion-card-subtitle>ch</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A sliding knot used to attach the yarn to the crochet hook.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Chain</ion-card-title>
            <ion-card-subtitle>ch</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A basic crochet stitch that often forms the foundation of the work.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Slip Stitch</ion-card-title>
            <ion-card-subtitle>sl st</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A stitch used to join work, move yarn across groups of stitches, or
            finish off.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Single Crochet</ion-card-title>
            <ion-card-subtitle>sc</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content> A basic crochet stitch. </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Half Double Crochet</ion-card-title>
            <ion-card-subtitle>hdc</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A stitch that is between a single crochet and a double crochet in
            height.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Double Crochet</ion-card-title>
            <ion-card-subtitle>dc</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A basic crochet stitch that is taller than a single crochet.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Treble Crochet</ion-card-title>
            <ion-card-subtitle>tr</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A taller stitch than the double crochet.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Double Treble Crochet</ion-card-title>
            <ion-card-subtitle>dtr</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A stitch that is two times taller than a treble crochet.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Triple Treble Crochet</ion-card-title>
            <ion-card-subtitle>trtr</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A stitch that is three times taller than a treble crochet.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Skip</ion-card-title>
            <ion-card-subtitle>sk</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            To pass over a stitch or stitches without working into them.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Space</ion-card-title>
            <ion-card-subtitle>sp</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            The hole or gap created by chain stitches in the previous row.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Yarn Over</ion-card-title>
            <ion-card-subtitle>yo</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Wrapping the yarn over the crochet hook.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Stitch Marker</ion-card-title>
            <ion-card-subtitle>SM</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A tool used to mark specific stitches or rows.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Repeat</ion-card-title>
            <ion-card-subtitle>rep</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            To do something again a specified number of times or until the end.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Round</ion-card-title>
            <ion-card-subtitle>rnd</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            To do something again a specified number of times or until the end.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Row</ion-card-title>
            <ion-card-subtitle>row</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A set of stitches worked across back and forth.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Stitch</ion-card-title>
            <ion-card-subtitle>st</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A loop of yarn created by the crochet hook.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Increase</ion-card-title>
            <ion-card-subtitle>inc</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            To make one or more new stitches in the work.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Decrease</ion-card-title>
            <ion-card-subtitle>dec</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            To eliminate one or more stitches from the work.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Magic Ring</ion-card-title>
            <ion-card-subtitle>MR</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            A technique used to start crocheting in the round with no hole in
            the center.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Front Loop Only</ion-card-title>
            <ion-card-subtitle>flo</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Crocheting into the front loop only of a stitch.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Fasten Off</ion-card-title>
            <ion-card-subtitle>FO</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            To secure the yarn at the end of the project.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Together</ion-card-title>
            <ion-card-subtitle>tog</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Conjunction with stitch names to signify that multiple stitches
            should be worked together as one (similar to the decrease). For
            example, “double crochet two together” (dc2tog) means to decrease
            over two stitches using the double crochet stitch.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
