<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome to Crochet Bunny!</ion-card-title>
        <ion-card-subtitle
          ><img
            width="400"
            height="280"
            alt="Crochet Picture"
            src="{{homePictureUrl}}"
          />
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Crochet Bunny has tools to help you learn and understand crochet.</p>

        <p>
          The dictionary tab has all the definitions that you will need for
          looking at patterns and the terminology that will be used.
        </p>

        <p>
          The videos tab has how to videos and written descriptions on different
          techniques in crochet.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
