<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Videos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Slip Knot</ion-card-title>
      <ion-card-subtitle>
        <video width="320" height="240" src="{{slipknotUrl}}" controls>
          Your browser does not support the video tag.
        </video>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      To make a slip knot make sure the yarn end is infront of your hand. Wrap
      the yarn around fingers twice makeing two loops. Take the left loop and
      pull it over the right loop, then pull the right loop over the left loop.
      Grab the left loop and pull the end yarn and working yarn. Place on hook
      and pull end yarn until the loop is snug around the loop.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Chain</ion-card-title>
      <ion-card-subtitle>
        <video width="320" height="240" src="{{chainUrl}}" controls>
          Your browser does not support the video tag.
        </video></ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Make a slip knot, and insert your hook. Yarn over and pull up a new loop.
      The first chain stitch is complete. Repeat to make the next chain stitch
      and the rest of the foundation chain.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Single Crochet</ion-card-title>
      <ion-card-subtitle>
        <video width="320" height="240" src="{{singleCrochetUrl}}" controls>
          Your browser does not support the video tag.
        </video></ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Insert hook into the next stitch, yarn over, and pull up a loop. Then,
      yarn over again and pull through both loops on the hook.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Half Double Crochet</ion-card-title>
      <ion-card-subtitle>
        <video width="320" height="240" src="{{halfDoubleCrochetUrl}}" controls>
          Your browser does not support the video tag.
        </video></ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Yarn over, and insert the hook into the next stitch. Yarn over, and pull
      up a loop. Yarn over again, and pull the yarn through all three loops on
      the hook.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Double Crochet</ion-card-title>
      <ion-card-subtitle>
        <video width="320" height="240" src="{{doubleCrochetUrl}}" controls>
          Your browser does not support the video tag.
        </video></ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Yarn over. Insert hook into the next stitch, yarn over, and pull up a
      loop. Yarn over and pull through two loops on the hook. Yarn over again
      and pull through both loops on the hook.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Treble Crochet</ion-card-title>
      <ion-card-subtitle>
        <video width="320" height="240" src="{{trebleCrochetUrl}}" controls>
          Your browser does not support the video tag.
        </video></ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Yarn over twice. Insert hook into the next stitch, yarn over, and pull up
      a loop. Yarn over and pull through the first two loops on the hook. Yarn
      over again and pull through the next two loops on the hook. Yarn over
      again and pull through the last two loops on the hook.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Double Treble Crochet</ion-card-title>
      <ion-card-subtitle>
        <video
          width="320"
          height="240"
          src="{{doubleTrebleCrochetUrl}}"
          controls
        >
          Your browser does not support the video tag.
        </video></ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Yarn over three times. Insert hook into the next stitch, yarn over, and
      pull up a loop. Yarn over and pull through the first two loops on the
      hook. Yarn over again and pull through the next two loops on the hook.
      Yarn over again and pull through the next two loops on the hook. Yarn over
      again and pull through the last two loops on the hook.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Triple Treble Crochet</ion-card-title>
      <ion-card-subtitle>
        <video
          width="320"
          height="240"
          src="{{tripleTrebleCrochetUrl}}"
          controls
        ></video>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Yarn over four times. Insert hook into the next stitch, yarn over, and
      pull up a loop. Yarn over and pull through the first two loops on the
      hook. Yarn over again and pull through the next two loops on the hook.
      Yarn over again and pull through the next two loops on the hook. Yarn over
      again and pull through the next two loops on the hook. Yarn over again and
      pull through the last two loops on the hook.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Magic Ring</ion-card-title>
      <ion-card-subtitle>
        <video width="320" height="240" src="{{magicRingUrl}}" controls></video>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Take end yarn and wrapping it twice around your two fingers. Making an "X"
      on the back of your fingers. Insert hook under the "X" yarn over and pull
      through. Yarn over and pull through the loop making a chain. You can take
      the magic cirle off your fingers. Insert hook into the middle of the
      circle, yarn over, and pull back through the circle. Then, yarn over again
      and pull through both loops on the hook. After you finish your first
      single crochet stitch continue by working the remaining stitches (the
      single crochet stitch used in the example) into the circle by repeating
      steps 5-7, tighten the ring by pulling the yarn end to close the circle.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Front Loop Only</ion-card-title>
      <ion-card-subtitle>
        <video
          width="320"
          height="240"
          src="{{frontLoopOnlyUrl}}"
          controls
        ></video>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Each stitch looks like a V with the top of the V pointing in the direction
      of the hook and the bottom of the V pointing away from the hook. Each side
      of the V is one of the loops. The loop closest to you is the front. Insert
      your hook under the front loop and through the middle of the stitch. Then
      you can continue with whatever stitch you are working with.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Back Loop Only</ion-card-title>
      <ion-card-subtitle>
        <video
          width="320"
          height="240"
          src="{{backLoopOnlyUrl}}"
          controls
        ></video>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Each stitch looks like a V with the top of the V pointing in the direction
      of the hook and the bottom of the V pointing away from the hook. Each side
      of the V is one of the loops. The loop farthest to you is the back loop.
      Insert your hook through the middle and under the back loop. Then you can
      continue with whatever stitch you are working with.
    </ion-card-content>
  </ion-card>
</ion-content>
